Data/BeiJing/
Data/Geolife Trajectories 1.3/
Data/Output/MultipleFeatures/NegativeFeature.csv
Data/Foursquare/
Data/Output/TrajectoryFeature/
Data/Output/Move/
Data/Output/Stay/
Data/Output/ProcessedTrajectories/
Temp/